<% if(pegawai.length < 1) { %>
    <h1>INVALID REQUEST</h1>
<% } else { %>
    <h1>Detail karyawan</h1>
    <hr>
    <b>Nama</b>: <%= pegawai[0].nama %> <br>
    <b>Gender</b>: <%= (pegawai[0].gender == 'M') ? 'Male' : 'Female' %> <br>
    <b>Tempat Tinggal</b>: <%= pegawai[0].alamat %> <br>
    <b>Nomor Induk Pegawai</b>: <%= pegawai[0].nip %> <br>
    <b>Department ID</b>: <%= pegawai[0].deprtemen_id %> <br>
    <b>Agama</b>: <%= pegawai[0].agama_id %> <br>
    <hr>
    <%= JSON.stringify(pegawai) %>
<% } %>
